
.about {
  padding: 10px;
}

.about .container {
  margin: auto;
}

.about .about-content {
  float: left;
  width: 50%;
}

.about .about-content h1 {
  text-transform: capitalize;
  color: #DC3545;
  font-size: 30px;
}

.about .about-content p {
  color: #8b8a8b;
  padding: 20px 0;
}

.about .about-content button {
  width: 140px;
  text-align: center;
  padding: 10px 15px;
  border: 1px solid #DC3545;
  color: #fff;
  background-color: transparent;
  border-radius: 55px;
  color: #DC3545;
  transition: all 0.3s ease-in-out;
}
.about .about-content button:hover{
  color: #fff;
  background-color: #DC3545;

}
.about .about-img {
  float: right;
  width: 50%;
  padding-left: 50px;
}

.about .about-img img {
  width: 80%;
}
/*# sourceMappingURL=about.component.css.map */
