<div class="about py-5">
  <div class="container">
    <div class="overflow-hidden">
      <div class="about-content">
        <h1>what is search <br> about enginr?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi error
          iusto fuga unde veritatis molestias quas,
          neque necessitatibus! Sint, veniam.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi error
          iusto fuga unde veritatis molestias quas...
          <br><br>
          neque necessitatibus! Sint, veniam
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi error
          iusto fuga unde veritatis molestias quas,
          neque necessitatibus! Sint, veniam

        </p>
        <button>Get Started</button>
      </div>
      <div class="about-img">
        <img src="assets/images/two.png" alt="">
      </div>
    </div>
  </div>
</div>
