<section class="about">
  <div class="container">
    <compiler-about-section></compiler-about-section>
    <compiler-services></compiler-services>
    <compiler-team-breif></compiler-team-breif>
  </div>
</section>
