@import 'colors.scss';

footer{
  background-color: $dark;
  padding: 20px 0;
  .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }
  .footerIcons{
    color: #fff;
      svg{
        margin: 10px;
      }
  }
  .footerDescription{
    color: #ccc;
    text-align: center;
    margin: 10px;
    width: 60%;
  }
}
